<!-- <p>
  device-list works!(to be deleted）
</p> -->


<div class="container">
  <!-- <button *ngIf="isPaLoggedin" [routerLink]="['./deviceadd']" class="btn btn-success">Add a new device</button> -->
  <!-- <button style="margin: 0 20px" class="btn btn-danger pull-right" (click)="onSave()">Save All Devices</button> -->
  <!-- <button class="btn btn-warning pull-right" (click)="onGet()">Get Devices</button> -->

  <ul  *ngIf="isPaLoggedin||isAdminLoggedin" class="nav nav-pills">
    <li class="">
      <!-- <a  *ngIf="isPaLoggedin" [routerLink]="['./deviceadd']">Add a new device</a> -->
      <button [routerLink]="['./deviceadd']" class="btn btn-primary">Add Device</button>

    </li>
    <li class="pull-right"><button  *ngIf="isAdminLoggedin" [routerLink]="['./userlist']" class="btn btn-primary" >User List</button></li>
    <li class="pull-right"><button   *ngIf="isAdminLoggedin" [routerLink]="['./signup']" class="btn btn-primary">Add User</button></li>
  </ul>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th  *ngIf="isPaLoggedin||isAdminLoggedin" ></th>
            <th>ID</th>
            <th>OS</th>
            <th>Version</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices">
            <td> <a [routerLink]="['./devicedetail',device.id]">{{device.name}}</a>

            </td>
            <td  *ngIf="isPaLoggedin||isAdminLoggedin" >
              <button class="btn btn-warning " [routerLink]="['./deviceedit',device.id]">Edit</button>

            </td>
            <td>{{device.id}}

            </td>
            <td>{{device.os}}</td>
            <td>{{device.osVersion}}</td>
            <td>{{device.currentStatus}}</td>
            <td>
              <!-- <h4><a [routerLink]="['./device',device.id]">{{device.id}}</a></h4> -->
              <!-- <button class="btn btn-info"[routerLink]="['./devicedetail',device.id]">Details</button> -->
              <!-- <button  *ngIf="isPaLoggedin||isAdminLoggedin" class="btn btn-warning " [routerLink]="['./deviceedit',device.id]">Edit</button> -->
              <button  *ngIf="isAdminLoggedin" class="btn btn-danger pull-right" (click)=onDelete(device.id) >Delete</button>



              <!-- <button class="btn btn-primary"
                                  (click)="removeRecordPlugin(user)">Details</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
