<p>
To be deleted!  device-edit works!
</p>
<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form #myform="ngForm" >

      <div class="form-group">
        <label>Device Name</label>
        <input #devicename="ngModel" [(ngModel)]="device.name" name="devicename" type="text" class="form-control" >
      </div>

      <div class="form-group">
        <label>Operating System</label>
        <input type="text"  #os="ngModel" [(ngModel)]="device.os" name="os" class="form-control"  >
      </div>
      <div class="form-group">
        <label>OS Version</label>
        <input type="text"  #os="ngModel" [(ngModel)]="device.osVersion" name="osVersion" class="form-control"  >
      </div>
      <button class="btn btn-primary" (click)="onSaveBtnClicked(myform.value)">Save</button>

    </form>
    <div>
      {{myform.value | json}}
    </div>

    <div>{{devicename.value}}</div>

  </div>
</div>
