<!-- <p>
  user-list works!
</p> -->


<div class="container" >
  <ul class="nav nav-pills nav-justified"  style="background-color: #e3f2fd;">
    <li class="nav-item" [class.active]="isAllUsers" (click)="allClicked()">
      <a data-toggle="tab" class="nav-link " [routerLink]="['./']" >All users</a>
    </li>
    <li class="nav-item " [class.active]="isAdmins" (click)="adminClicked()">
      <a data-toggle="tab" class="nav-link" [routerLink]="['./admins']" >Admins</a>
    </li>
    <li class="nav-item " [class.active]= "isPas" (click)="pasClicked()">
      <a data-toggle="tab" class="nav-link" [routerLink]="['./pas']" >PAs</a>
    </li>



    <!-- <li class="nav-item ">
      <a class="nav-link" [routerLink]="['./useradd']" >Add user</a>
    </li> -->
  </ul>
  <!-- <div class="row">
    <div class="col-xs-12">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>ID</th>
            <th>Empower</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td> {{user.name}} </td>
            <td>{{user.email}}</td>
            <td>xxxx</td>
            <td>{{user.id}}</td>
            <td>
              <button  class="btn btn-warning pull-right" (click)=onPaLevel(user.id)>Assign PA</button>
              <button class="btn btn-info pull-right" (click)=onDismissPa(user.id)>Dismiss PA</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  <router-outlet></router-outlet>


</div>
